//- @defaultData = table, true
//- @mixin
include /components/fragments/button.pug
include /mixins/icons.pug
mixin table(table,  isScroll)
    if isScroll
        .table(class=`${table.modificator ? table.modificator : ''}`).js-scroll-list
            table.wp-block-table
                if table.thead 
                    thead 
                        each tr in table.thead 
                            tr 
                                each th in tr 
                                    th(class=`${th.className ? th.className : ""}`)!= th.text
                if table.tbody
                    tbody 
                        each tr in table.tbody 
                            tr      
                                each td in tr   
                                    td(class=`${td.className ? td.className : ""}`)!= td.text
    else 
        table.wp-block-table
            if table.thead 
                thead 
                    each tr in table.thead 
                        tr 
                            each th in tr 
                                th(class=`${th.className ? th.className : ""}`)!= th.text
            if table.tbody
                tbody 
                    each tr in table.tbody 
                        tr      
                            each td in tr   
                                td(class=`${td.className ? td.className : ""}`)!= td.text